<footer>
    <nav>
        <section id="flex-footer">
            <figure id="logo">
                <a href="/"><img src="/img/mono.png" alt="mono"></a>
            </figure>
            <article id="flex-redes">
                <article>
                    <a href="https://www.linkedin.com/in/juan-segundo-mart%C3%ADnez/"><i class="fab fa-linkedin fa-2x"></i></a>
                </article>
                <article>
                    <a href="https://github.com/JuanSegundo7"><i class="fab fa-github-square fa-2x"></i></a>
                </article>
                <article>
                    <a href="https://www.instagram.com/juanse_martinez7/"><i class="fab fa-instagram-square fa-2x"></i></a>
                </article>
            </article>
        </section>
    </nav>
</footer>