<footer>
    <nav>
        <section id="flex-footer">
            <figure id="logo">
                <a href="/"><img src="/img/mono.png" alt="mono"></a>
            </figure>
            <ul id="flex-nav-items">
                <li><a href="">ACERCA DE</a></li>
                <li><a href="">PORTAFOLIO</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </section>
    </nav>
</footer>