<header>
    <nav>
        <section id="flex-header">
            <figure id="logo">
                <a href="/"><img src="/img/mono.png" alt="mono"></a>
            </figure>
            <ul id="flex-nav-items">
                <!-- <li><i class="fas fa-fighter-jet"></i></li> -->
                <li><a href="#AcercaDe">ACERCA DE MI</a></li>
                <li><a href="#MisProyectos">PORTAFOLIO</a></li>
                <li><a href="#Contacto">CONTACTO</a></li>
            </ul>
        </section>
    </nav>
</header>