@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/
/************************************^^HEADER^^^********************************************/
* {
	font-family: "Montserrat";
}


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


footer {
	display: flex;
    flex-direction: column;
    width: 100%;
	min-height: 20vh;
    font-family: "Montserrat";
    background-size: cover;
}


footer nav{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    align-items: stretch;
}

footer img {
	max-height: 100%;
	width: 90%;
    padding-top: 2vh;
    margin-left: 0.3em;
}

#logo{
	width: 93px;
    filter: brightness(1.1);
    mix-blend-mode: screen;
}

#flex-footer{
	display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

#flex-nav-items{
	display: flex;
    margin-right: 20px;
    width: 24em;
    padding-bottom: 1em;
    justify-content: space-around;
    align-items: center;
}

#flex-nav-items a{
	color: #FF9900;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 200;
}