@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/
/************************************^^HEADER^^^********************************************/
* {
	font-family: "Montserrat";
}


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


header {
	display: flex;
	position: fixed;
    flex-direction: column;
    width: 100%;
	min-height: 10vh;
    background-image: url(../img/lines.jpg);
	box-shadow: 0px 2px 3px 0px rgb(255 153 0 / 89%);
}


header nav{
	display: flex;
    height: 14vh;
    justify-content: space-between;
    align-items: stretch;
}

header img {
	max-height: 100%;
	width: 4em;
}


#flex-header{
	display: flex;
    width: 100%;
    justify-content: space-between;
}

header #flex-nav-items{
	display: flex;
    width: 95%;
    padding-bottom: 1em;
    align-items: center;
    justify-content: flex-end;
}

#flex-nav-items a{
	color: #FF9900;
    font-size: 10px;
    text-decoration: none;
    font-weight: 200;
    margin-right: 10px;
	transition: color .5s;
}

#flex-nav-items a:hover{
	color: #ff990067;
}

#flex-nav-items li{
	list-style: none;
}

/*************^^^MEDIA-QUERYS^^^*************/


@media (min-width: 468px){
	header {
		position: relative;
		min-height: 15vh;
		
	}

	header nav{
		height: 15vh;
	}

    header #flex-nav-items {
		width: 70%;
    	padding-bottom: 1em;
    	align-items: center;
    	justify-content: flex-end;
	}

	#flex-nav-items a{
		font-size: 15px;
	}
	
}

@media (min-width: 468px) and (min-height: 1000px){
    header #flex-nav-items {
		padding-top: 1.5em;
    	align-items: flex-start;
	}
}


@media (min-width: 768px){}

@media (min-width: 1000px){}

@media (min-width: 2000px){}