@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

/**************************************^^^BODY^^^********************************************/

body{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    background: url(../img/lines.jpg);
    background-size: auto;
    font-family: "Montserrat";
    min-width: 100vw;
    min-height: 100vh; 
    box-sizing: border-box;
}

main{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}


#Juanse {
    background-image: linear-gradient(rgba(255, 153, 0, 1), rgba(0, 0, 0, 1)),url(../img/lines.jpg);
    background-size: cover;
    background-blend-mode: difference;
    border-radius: 100%;
    width: 14em;
    height: 43vh;
    padding: 0 0 2em 0.7em;
    overflow: hidden;
    margin: 1em 3em 1em;
}

#Juanse img{
    width: 15em;
    height: 15em;
}


#flex-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#flex-main p{
    color: #FF9900;
    font-size: 1em;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0 1.2em;
    width: 19em;
    text-align: center;
}



/*************^^^FLEX-TRABAJOS^^^*************/
.titulo{
    text-align: center;
    color: #FF9900;
    font-size: 1.7em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0em 1em 1em 1em;
    margin-top: 0.7em;
}

#mobile-margin{
    margin-top: 4em;
}

.flex-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-trabajos img{
    width: 87vw;
    height: 34vh;
    margin: 1em;
    border: 2px solid #ff9900;
    border-radius: 15px;
}

/*************^^^SKILLS^^^*************/

#Skills{
    text-align: center;
}

#Skills i::backdrop{
    transition:cubic-bezier(1, 0, 0, 1)
}

.barra{
    width: 15em;
    height: 0.5em;
    background-color: white;
}

.barra-relleno{
    width: 7em;
    height: 0.5em;
    background-color: #FF9900;
}

.flex-barras{   
    display: flex;
    margin: 1em 0.8em 1em 0.8em; 
}

#flex-skills{
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-down{
    margin-left: 1em;
}

#arrow-down::after{
    font-size: 5em;
}

.hidden-info{
    display: none
}

/*************^^^FORMULARIO^^^*************/

textarea:focus, input:focus{
    outline: none;
}

::placeholder{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-style{
    border-radius: 15px;
    background-color: #ff9900;
    border-color: black;
}

#nombre{
    padding: 1em;
    margin: 1em;
    color: white;
}

#email{
    padding: 1em;
    margin: 1em;
    color: white;
}

#texto{
    padding: 1em;
    margin: 1em;
    color: white;
}  

#flex-botones{
    display: flex;
    
}

#flex-botones button{
    color: whitesmoke;
    background-color: #FF9900;
    border: none;
    border-radius: 7px;
    padding: 0.5em 1em;
    margin: 0 0.6em;
    transition: background-color .5s;
}

#flex-botones button:hover{
    background-color: #ff990067;
}

fieldset{
    border: none;
}
/*************^^^CONTACTO^^^*************/

#contacto i{
    color: #FF9900;
    transition: color .5s;
    margin: 0.2em;
}

#contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#contacto i:hover{
    color: #ff990067;
}

#contacto p{
    font-size: 0.8em;
}

#chupetin{
    margin-left: 0.5em !important;
}

.flex-p-contacto{
    display: flex;
    align-items: center;
}
/*************^^^MEDIA-QUERYS^^^*************/


/*************^^^WIDTH-FORM^^^*************/

@media (min-width: 390px){
    .form-medidas{
        width: 26em;
    }
    
}
/*************^^^MOBILE-1^^^*************/

@media (min-width: 468px){
    #Juanse {
    width: 14em;
    height: 43vh;
    }
    #Juanse img {
    margin-left: 0.4em;
    }
    .flex-trabajos img {
        height: 45vh;
    }
    .flex-barras{
        justify-content: center;
    }
    /*************^^^FORM^^^*************/
    #flex-contacto{
        display: flex;
        flex-direction: column;
    }
    #contacto{
        flex-direction: row;
        margin: 2em 0;
        padding: 0.4em;
    }
    #contacto p{
        font-size: 12px;
        margin: 0.5em 0 0.5em 0;
    }
    .form-medidas{
        width: 28em;
    }

    .flex-trabajos img {
        height: 42vh;
        width: 25em;
    }

    #flex-main p {
        width: 27em;
        text-align: center;
    }

    .fa-4x {
        font-size: 4.5em;
    }
    #heroku {
        width: 4.2em;
    }
    #mobile-margin{
        margin: 1em;
    }

    /*************^^^FOOTER^^^*************/
    #flex-redes{
        width: 33% !important;
    }
    .flex-p-contacto{
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media (min-width: 550px){
    #contacto p {
        font-size: 15px;
    }
}

@media (min-width: 650px){
    #contacto p {
        font-size: 18px;
    }
}


/*************^^^TABLET^^^*************/

@media (min-width: 768px){
    #flex-main {
        flex-direction: row;
        justify-content: center;
    }
    #Juanse img {
        width: 19em !important;
        height: 18em !important;
        margin: 0 !important;
    }
    #Juanse{
        width: 16em !important;
        height: 17em !important;
    }
    #flex-main p {
        width: 22em;
        padding: 0;
        font-size: 16px;
        margin-right: 0.4em;
        text-align: left;
    }
    #misProyectos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .flex-trabajos img {
        width: 20em;
        height: 13em;
        object-fit: initial;
    }
    #flex-contacto {
        flex-direction: row;
    }
    #contacto {
        flex-direction: column;
    }
    #contacto p{
        font-size: 15px;
    }
    .flex-p-contacto{
        justify-content: flex-start;
    }
}

/*************^^^TABLET^^^*************/

@media (min-width: 900px) {
    #Juanse img {
        width: 19em;
        height: 18em;
    }
    #flex-main p {
        font-size: 18px;
    }
    #Juanse {
        height: 18em !important;
        width: 17em !important;
    }
    .flex-trabajos img {
        width: 23em;
    }
    .fa-4x {
        font-size: 5em;
    }
    #heroku {
        width: 4.5em;
        margin-top: 0.3em;
    }
    #flex-main {
        justify-content: space-evenly;
    }   
    
    #flex-contacto {
        justify-content: center;
    }
    #contacto {
        width:40%;
    }
}

/*************^^^DESKTOP^^^*************/


@media (min-width: 1000px){
    #flex-main p {
        font-size: 20px;
    }
    #Juanse {
        height: 44vh;
        width: 18em;
    }
    #Juanse img {
        width: 19em;
        height: 18em;
    }
}

@media (min-width: 1300px){
    #Juanse {
        height: 23em !important;
        width: 22em !important;
        margin: 0 !important;
    }
    #Juanse img {
        width: 22em;
        height: 22em;
        margin: 1em 0 2em 1.5em !important;
    }
    #flex-main p {
        font-size: 25px;
    }
    #flex-main{
        justify-content: space-evenly;
    }
    .form-medidas {
        width: 36em;
    }
    #flex-botones button{
        width: 8em;
        padding: 0.7em 1em;
    }
    .flex-trabajos img {
        height: 32vh;
    }
}

/*************^^^HEIGHT^^^*************/


@media(min-height: 600px){
    #Juanse {
        width: 14em;
        height: 40vh;
    }
}

@media(min-height: 700px){
    #Juanse{
        height: 35vh;
        margin: 0 0 0 0.2em;
    }
    #flex-main p{
        margin: 1em 0 0 0;
    }
    .flex-trabajos img {
        height: 42vh;
    }
    #flex-redes{
        margin: 0 !important;
    }
}

@media(min-height: 800px){
    #Juanse {
        height: 31vh;
    }
}

@media (min-height: 1000px){
    #Juanse {
        width: 14em;
        height: 23vh;
    }
    .flex-trabajos img {
        height: 23vh;
    }
    section{
        margin: 1em 0 1em 0;
    }
}


