@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Colores */
/*  Azul Oscuro: #031927
    Dorado: #FF9900
    Color Crema: #FFF3DD
    Blanco: #FFFFFF 
*/

/**************************************^^^BODY^^^********************************************/

body{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    background: url(../img/lines.jpg);
    font-family: "Montserrat";
    min-width: 100vw;
    min-height: 100vh; 
    box-sizing: border-box;
}

main{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.waves svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    color: #ff9900;
}


#Juanse {
    background-image:linear-gradient(rgba(255, 153, 0, 1), rgba(0, 0, 0, 1)),url(../img/lines.jpg);
    background-size: cover;
    background-blend-mode: difference;
    border-radius: 100%;
    width: 13em;
    height: 40vh;
    padding-bottom: 2em;
    overflow: hidden;
    margin: 1em 3em 1em;
}

#Juanse img{
    width: 15em;
    height: 15em;
}

/*************^^^FLEX-MAIN^^^*************/

#flex-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

#flex-main p{
    color: #FF9900;
    font-size: 1em;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0 1.2em;
    width: 20em;
}



/*************^^^FLEX-TRABAJOS^^^*************/
.titulo{
    text-align: center;
    color: #FF9900;
    font-size: 1.7em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0em 1em 1em 1em;
    margin-top: 0.7em;
}

.flex-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-trabajos img{
    width: 87vw;
    height: 34vh;
    margin: 1em;
    border: 2px solid #ff9900;
    border-radius: 15px;
}


/*************^^^FLEX-REDES^^^*************/

#flex-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#flex-redes i{
    color: #FF9900;
}

#heroku{
    width: 3.7em;
    margin-top: 0.2em;
    border-radius: 10px;
    background: #ff9900;
}

/*************^^^MEDIA-QUERYS^^^*************/

@media (min-width: 468px){}

@media (min-width: 768px){}

@media (min-width: 1000px){}

@media (min-width: 2000px){}