<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head",{"css":["header", "portfolio", "footer"]})%>

<body>
    <%-include("./partials/header")%> 
    <main>
        <section>
            <h3 class="titulo" id="mobile-margin">¡Hola! ¿Como estás? Bienvenido a mí Portafolio, un gusto conocerte, me llamo Juan Segundo Martínez. Acá encontraras un poco de mí, mis redes y mis trabajos. ¡Empecemos!</h3>
        </section>
        <a name="AcercaDe"></a>
        <section id="flex-main">
            <figure id="Juanse">
                <img src="/img/Juanse-sinFondo.png" alt="">
            </figure>
            <article>
                <p>En 2020, realicé un curso introductorio sobre lenguaje HTML y CSS en Plataforma 5, mi idea era seguir capacitando me realizando algún curso Full-Stack, sin embargo llegó la pandemia y por un año (mas o menos) no realice avances. Sin embargo, en 2021, retome el camino realizando el curso de Full-Stack en Digital House. Mi meta es poder seguir mejorando y eventualmente participar en proyectos para seguir aumentando mis conocimientos y perfeccionarlos.</p>
            </article>
        </section>
        <section>
            <a name="MisProyectos"></a>
            <h3 class="titulo">Mis Proyectos</h3>
            <article id="misProyectos">
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
            </article>
        </section>
        <section id="Skills">
            <h3 class="titulo" id="flex-skills">Skills<i id="arrow-down" class="fas fa-chevron-down fa-sm"></i></h3>
            <article class="hidden-info">
                <p>HTML</p>
                <article class="flex-barras">
                    <div class="barra-relleno"></div>
                    <div class="barra"></div>
                </article>
            </article>
            <article class="hidden-info">
                <p>CSS</p>
                <article class="flex-barras">
                    <div class="barra-relleno"></div>
                    <div class="barra"></div>
                </article>
            </article>
            <article class="hidden-info">
                <p>JavaScript</p>
                <article class="flex-barras">
                    <div class="barra-relleno"></div>
                    <div class="barra"></div>
                </article>
            </article>
        </section>
        <section>
            <a name="Contacto"></a>
            <h3 class="titulo">Contactame</h3>
            <article id="flex-contacto">
                <form action="https://formspree.io/f/xrgrrpyd" method="POST">
                    <fieldset>
                        <label for="nombre"></label>
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" class="form-style">
                    </fieldset>
                    <fieldset>
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Dirección de correo electronico" class="form-style">
                </fieldset>
                <fieldset>
                    <label for="texto"></label>
                    <textarea cols="30" rows="20" name="texto" id="texto" placeholder="Hola! Me gustaria..." class="form-style"></textarea>
                </fieldset>
                <fieldset id="flex-botones">
                    <button type="submit">Enviar</button>
                    <button type="reset">Resetear</button>
                </fieldset>
            </form>
                <article id="contacto">
                    <a href="http://wa.me/542213615252"><i class="fab fa-whatsapp-square fa-3x"></i></a>
                    <p><i class="fas fa-map-pin fa-3x" id="chupetin"></i></a>La Plata, Buenos Aires AR</p>
                    <p><i class="fas fa-inbox fa-3x"></i></a>juansegundomartinez7@gmail.com</p>
                </article>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")%> 
</body>
</html>