<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head",{"css":["header", "portfolio", "footer"]})%>

<body>
    <%-include("./partials/header")%> 
    <main>
        <section>
            <h3 class="titulo">¡Hola! ¿Como estás? Bienvenido a mí Portafolio, un gusto conocerte, me llamo Juan Segundo Martínez. Acá encontraras un poco de mí, mis redes y mis trabajos. ¡Empecemos!</h3>
        </section>
        <a name="AcercaDe"></a>
        <section id="flex-main">
            <figure id="Juanse">
                <img src="/img/Juanse-sinFondo.png" alt="">
            </figure>
            <article>
                <p>En 2020, realicé un curso introductorio sobre lenguaje HTML y CSS en Plataforma 5, mi idea era seguir capacitando me realizando algún curso Full-Stack, sin embargo llegó la pandemia y por un año (mas o menos) no realice avances. Sin embargo, en 2021, retome el camino realizando el curso de Full-Stack en Digital House. Mi meta es poder seguir mejorando y eventualmente participar en proyectos para seguir aumentando mis conocimientos y perfeccionarlos.</p>
            </article>
        </section>
        <section>
            <a name="MisProyectos"></a>
            <h3 class="titulo">Mis Proyectos</h3>
            <article id="misProyectos">
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
            </article>
        </section>
        <section>
            <a name="Contacto"></a>
            <h3 class="titulo">Contacatame</h3>
            <form action="https://formspree.io/f/xrgrrpyd" method="POST">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" id="nombre" placeholder="¿Cual es tu nombre y apellido?" class="form-style">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Dirección de correo electronico" class="form-style">
                <label for="texto">Su Mensaje</label>
                <textarea cols="30" rows="20" name="texto" id="texto" placeholder="Hola! Me gustaria..." class="form-style"></textarea>
            </form>
        </section>
    </main>
    <%- include("./partials/footer")%> 
</body>
</html>