<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head",{"css":["header", "portfolio", "footer"]})%>

<body>
    <%-include("./partials/header")%> 
    <main>
        <section>
            <h3 class="titulo">¡Hola! ¿Como estás? Bienvenido a mí Portafolio, un gusto conocerte, me llamo Juan Segundo Martínez. Acá encontraras un poco de mí, mis redes y mis trabajos. ¡Empecemos!</h3>
        </section>
        <a name="AcercaDe"></a>
        <section id="flex-main">
            <figure id="Juanse">
                <img src="/img/Juanse-sinFondo.png" alt="">
            </figure>
            <article>
                <p>En 2020, realicé un curso introductorio sobre lenguaje HTML y CSS en Plataforma 5, mi idea era seguir capacitando me realizando algún curso Full-Stack, sin embargo llegó la pandemia y por un año (mas o menos) no realice avances. Sin embargo, en 2021, retome el camino realizando el curso de Full-Stack en Digital House. Mi meta es poder seguir mejorando y eventualmente participar en proyectos para seguir aumentando mis conocimientos y perfeccionarlos.</p>
            </article>
        </section>
        <section>
            <a name="MisProyectos"></a>
            <h3 class="titulo">Mis Proyectos</h3>
            <article id="misProyectos">
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
                <figure><a href="https://github.com/JuanSegundo7/grupo_2_technoStarter" class="flex-trabajos"><img src="/img/TechnoStarter-preview.png"></a></figure>
            </article>
        </section>
            <a name="MisRedes"></a>
            <h3 class="titulo">Mis Redes<h3>
            <section id="flex-redes">
                <article>
                    <a href="https://www.linkedin.com/in/juan-segundo-mart%C3%ADnez/"><i class="fab fa-linkedin fa-4x"></i></a>
                </article>
                <article>
                    <a href="https://github.com/JuanSegundo7"><i class="fab fa-github-square fa-4x"></i></a>
                </article>
                <article>
                    <a href="https://www.instagram.com/juanse_martinez7/"><i class="fab fa-instagram-square fa-4x"></i></a>
                </article>
                <article>
                    <a href="/"><img id="heroku" src="https://img.icons8.com/ios/50/000000/heroku.png"/></a>
                </article>
            </section>
        </section>
    </main>
    <%- include("./partials/footer")%> 
</body>
</html>